<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter name:</strong>
  <%= @comment.commenter_name %>
</p>

<p>
  <strong>Comment body:</strong>
  <%= @comment.comment_body %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
